html, body{
    background-color: #000000;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
}
.header{
    position: fixed;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 80px;
    background-color: #222222;
}
.menu{
    padding: 0 10px;
    padding-left: 800px;
}

.menu a{
    font-weight: bold;
    text-decoration: ;
    text-decoration: none;
    padding: 0 25px;
    color: #e5e5e5;
    transition: all 0.1s ease 0.2s;
}

.menu a:hover{
    color: #6D0080;
    transition: all 0.3s ease 0.2s;
}

img{
}

.footer{
    float:left;
    width:100%;
    line-height: 60px;
    bottom:0;
    height:200px;
    background-color:#222222;
}
.footer vignette{
    float:left;
    width:30%;
    height:100%
}
.about_container1{
     width:100%;
    height:500px;
    background-color:#404040;
}



