html, body{
    background-color: #000000;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
}
.header{
    position: fixed;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 10px;
    background-color: #222222;
    align-content: center;
}
.menu{
    padding: 0 10px;
}

.menu a{
    font-weight: bold;
    text-decoration: ;
    text-decoration: none;
    padding: 0 25px;
    color: #e5e5e5;
    transition: all 0.1s ease 0.2s;
}

.menu a:hover{
    color: #6D0080;
    transition: all 0.3s ease 0.2s;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    line-height: 60px;
    bottom:0;
    height:115px;
    background-color:#222222;
}
.footer vignette {
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
    align-content: center;
}
.about_container1{
     width:100%;
    height:500px;
    background-color:#404040;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


